<div class="container">
  <button class="btn btn-success" [routerLink]="['path1']">Path1</button>
  <button class="btn btn-primary" [routerLink]="['path2']">Path2</button>
  <button class="btn btn-secondary" (click)="onActivate()">Activate</button>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<hr>

<div class="container">
  <app-status-holder></app-status-holder>
</div>
<hr>
<app-account-holder></app-account-holder>


<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12 col-md-8 col-md-offset-2">-->
<!--&lt;!&ndash;      <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>&ndash;&gt;-->
<!--      <app-new-account ></app-new-account>-->
<!--      <hr>-->
<!--&lt;!&ndash;      <app-account&ndash;&gt;-->
<!--&lt;!&ndash;        *ngFor="let acc of accounts; let i = index"&ndash;&gt;-->
<!--&lt;!&ndash;        [account]="acc"&ndash;&gt;-->
<!--&lt;!&ndash;        [id]="i"&ndash;&gt;-->
<!--&lt;!&ndash;        (statusChanged)="onStatusChanged($event)"></app-account>&ndash;&gt;-->

<!--      <app-account-->
<!--        *ngFor="let acc of accounts; let i = index"-->
<!--        [account]="acc"-->
<!--        [id]="i"-->
<!--        ></app-account>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<hr>

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Toggle numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !==0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'orange' : 'transparent'}"
            *ngFor="let odd of odddNumbers">
            {{odd}}
          </li>
        </div>
<!--        <div *ngIf="!onlyOdd">-->
<!--          <li-->
<!--            class="list-group-item"-->
<!--            [ngClass]="{odd: even % 2 !==0}"-->
<!--            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'orange' : 'transparent'}"-->
<!--            *ngFor="let even of evennNumbers">-->
<!--            {{even}}-->
<!--          </li>-->
<!--        </div>-->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: even % 2 !==0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'orange' : 'transparent'}"
            *ngFor="let even of evennNumbers">
            {{even}}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <ng-template [ngIf]="!onlyOdd">
        <p>Only even</p>
      </ng-template>
      <p appBasicHighlight>Style me with basic highlight</p>
<!--      <p appBetterHighlight>Style me with better highlight</p>-->
<!--      <p appBetterHighlight [defaultColor]="'pink'" [highlightColor]="'yellow'" >Style me with better highlight</p>-->
      <p [appBetterHighlight]="'yellow'" [defaultColor]="'pink'" >Style me with better highlight</p>

      <div [ngSwitch]="switchValue">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="50">Value is 50</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is default</p>
      </div>
    </div>
  </div>
</div>





<hr class="mt-5">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three new components: GameControl, Odd and Even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div>
</div>




<div class="container">
  <app-cockpit
    (serverCreated) = onServerAdded($event)
    (blueprintCreated) = onBlueprintAdded($event)
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first element</button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [element]="serverElement"
        [name]="serverElement.name"
      >
        <p #paragraphContent>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>

<!--        [serverElement]="serverElement"-->




<!--<p></p>-->
<!--<app-success-alert></app-success-alert>-->
<!--<app-warning-alert></app-warning-alert>-->
<!--<app-server></app-server>-->
<!--&lt;!&ndash;<app-server></app-server>&ndash;&gt;-->


<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <input type="text"-->
<!--             class="form-control"-->
<!--             [(ngModel)]="username">-->
<!--      <p> {{ username }}</p>-->
<!--      <button-->
<!--        class="btn btn-primary"-->
<!--        [disabled]="username === ''"-->
<!--        (click)="username = ''" >Reset user</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

